monty
tabulate
apscheduler<=3.10.4
pydispatcher>=2.0.5
tqdm
pyyaml>=3.11
ruamel.yaml>=0.16.12
pandas
numpy
scipy
sympy
spglib
#pymatgen>=2023.3.23
pymatgen==2023.7.17
netCDF4
matplotlib
seaborn
plotly
ipython
chart-studio
click
# TODO remove after https://github.com/materialsproject/emmet/issues/768 is fixed
pydantic<2.0.0
#python-daemon
