packaging
monty
tabulate
apscheduler<=3.10.4
pydispatcher>=2.0.5
tqdm
pyyaml>=3.11
ruamel.yaml>=0.16.12
pandas
#numpy
numpy<2.0.0
sympy
spglib
pymatgen
netCDF4
matplotlib
seaborn
plotly
ipython
chart-studio
click
phonopy
ase
# TODO remove after https://github.com/materialsproject/emmet/issues/768 is fixed
pydantic<2.0.0
#custodian
#python-daemon
