ipython
jupyter
nbformat
pygments
ipywidgets
networkx
scikit-image
#graphviz or python-graphviz if conda
phonopy
#mayavi
# Unit tests
python-coveralls
pytest
pytest-cov
pytest-xdist
pytest-sugar
scripttest