monty
tabulate
#apscheduler==2.1.0
apscheduler
pydispatcher>=2.0.5
tqdm
pyyaml>=3.11
ruamel.yaml>=0.16.12
pandas
numpy
scipy
sympy
spglib
#pymatgen>=2019.12.22
pymatgen>=2022.0.4
netCDF4
matplotlib
seaborn
plotly
chart-studio
#panel
