ipython
sphinx
sphinxcontrib-napoleon
sphinxcontrib-programoutput
sphinx-gallery
sphinx-argparse
sphinx_rtd_theme
sphinxcontrib-bibtex
phinx-autodoc-typehints
jupyter-sphinx
#graphviz or python-graphviz if conda
graphviz
scikit-image
